[submodule "slm"]
	path = slm
	url = https://github.com/cstarknyc/slm
[submodule "slmnb"]
	path = slmnb
	url = https://github.com/cstarknyc/slmnb
[submodule "slmdata"]
	path = slmdata
	url = https://github.com/cstarknyc/slmdata
